# new requirements.txt file
langchain==1.1.0
langchain-core==1.1.0
langchain-openai==1.1.0

langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.10

openai==2.8.1
python-dotenv==1.0.1

typing_extensions==4.15.0
pydantic==2.12.4
pydantic_core==2.41.5


# python-dotenv
# langchain
# langchain-openai
# langgraph
# openai
# typing_extensions
